nav {
  position: fixed;
  top: 0;
  background-color: black;
  padding: 5px 0 5px 5px;
  width: 100%;
  color: white;
  z-index: 5;
  input {
    width: 250px;
  }
  #search-query, .search-button, #next-button-visible, #previous-button-visible, .search-results {
    margin: 0 5px;
  }
  .search, #search-query, button {
    float: left;
  }
  button {
    margin-top: 1px;
  }
  .search {
    padding: 2px 0;
  }
  #next-button-invisible, #previous-button-invisible {
    display: none;
  }
  #next-button-visible, #previous-button-visible {
    display: block;
  }
  #current-page {
    padding-top: 2px;
  }
  #total-repos {
    position: absolute;
    top: 7px;
    right: 10px;
  }
  .details-invisible {
    display: none;
  }
  .details-visible {
    display: block
  }
}
