@import 'reset';
@import 'nav';
@import 'results';
@import 'media';
@import url('https://fonts.googleapis.com/css?family=Play');

body {
  background-image: url(too-real-octocat.jpg);
  background-position: 0 -100px;
  background-attachment: fixed;
  font-family: 'Play', sans-serif;
}
